﻿
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<h2>Welcome, @ViewBag.DisplayName</h2>
@if (ViewBag.HasBooking == true)
{
    <p>You have a booking.</p>
}
else
{
    <p><a href="~/Booking">Create a booking.</a></p>
}

