﻿<!DOCTYPE html>
@using BreakoutSite.Models;

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width =device-width, initial-scale=1">

    <title>@ViewBag.Title</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">
</head>
<body style="padding-top: 70px;">

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="~/Home"><span></span></a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="~/Home#about">ABOUT</a></li>
                    <li><a href="~/Home#services">SERVICES</a></li>
                    <li><a href="~/Home#pricing">PRICING</a></li>
                    <li><a href="~/Home#contact">CONTACT</a></li>
                    @if (ProfileModel.LoggedIn == 1)
                    {
                        <li><a href="~/Profile">ACCOUNT</a></li>
                        <li><a href="~/Logout">LOGOUT</a></li>
                    }
                    else
                    {
                        <li><a href="~/Register">REGISTER</a></li>
                        <li><a href="~/Login">LOGIN</a></li>
                    }
                </ul>
            </div>
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year – Breakout Corp</p>
        </footer>
    </div>

    <script src="/js/jquery-3.0.0.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>


