﻿@model BreakoutSite.Models.UserModel

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Register</title>
</head>
<body>
    <h1>Register</h1>
    @using (Html.BeginForm("Index", "Register", FormMethod.Post))
    {
        <p>Username: </p> @Html.TextBoxFor(m => m.Username)
        <p>Password: </p> @Html.PasswordFor(m => m.Password)
        <p>Email: </p> @Html.TextBoxFor(m => m.Email)

        <input type="submit" value="Submit" />
        if (ViewBag.AlertText != null)
        {
            <div class="alert alert-danger" role="alert">
                @ViewBag.AlertText
            </div>
        }
        if (ViewBag.SuccessText != null)
        {
            <div class="alert alert-success" role="alert">
                @ViewBag.SuccessText
            </div>
        }
    }
</body>
</html>