﻿@model BreakoutSite.Models.BookingModel

@{
    ViewBag.Title = "Bookings";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    @using (Html.BeginForm("Index", "Booking", FormMethod.Post))
    {
        <p>Date Wanted: </p> @Html.TextBoxFor(m => m.BookDate)
        <p>Place Wanted: </p> @Html.TextBoxFor(m => m.BookPlace)
        <input type="submit" value="Submit" />
    }
</body>
</html>


